@charset "UTF-8";
@font-face {
    font-family: wabfonticon;
    font-weight: 400;
    font-style: normal;
    src: url(./webfonticon.eot?#iefix) format("embedded-opentype"),
    url(./webfonticon.woff2) format("woff2"),
    url(./webfonticon.woff) format("woff"),
    url(./webfonticon.ttf) format("truetype")
}

[class*=icon-]:before {
    display: inline-block;
    margin-top: -.2em;
    vertical-align: middle;
    text-transform: none;
    line-height: 1;
    font-family: wabfonticon !important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-account-circle-o:before {
    content: "\E900"
}

.icon-account-circle:before {
    content: "\E901"
}

.icon-add-box-o:before {
    content: "\E902"
}

.icon-add-box:before {
    content: "\E903"
}

.icon-add-circle-o:before {
    content: "\E904"
}

.icon-add-circle:before {
    content: "\E905"
}

.icon-add:before {
    content: "\E906"
}

.icon-android:before {
    content: "\E907"
}

.icon-angle-down:before {
    content: "\E908"
}

.icon-angle-left:before {
    content: "\E909"
}

.icon-angle-right:before {
    content: "\E90A"
}

.icon-angle-up:before {
    content: "\E90B"
}

.icon-app-in:before {
    content: "\E90C"
}

.icon-app-out:before {
    content: "\E90D"
}

.icon-apple:before {
    content: "\E90F"
}

.icon-apps:before {
    content: "\E910"
}

.icon-archive-o:before {
    content: "\E911"
}

.icon-archive:before {
    content: "\E912"
}

.icon-arrow-down:before {
    content: "\E913"
}

.icon-arrow-left:before {
    content: "\E914"
}

.icon-arrow-right:before {
    content: "\E915"
}

.icon-arrow-up:before {
    content: "\E916"
}

.icon-attach-file:before {
    content: "\E917"
}

.icon-attachment:before {
    content: "\E918"
}

.icon-basket-o:before {
    content: "\E919"
}

.icon-basket:before {
    content: "\E91A"
}

.icon-block:before {
    content: "\E91B"
}

.icon-bookmark-o:before {
    content: "\E91C"
}

.icon-bookmark:before {
    content: "\E91D"
}

.icon-bug-report-o:before {
    content: "\E91E"
}

.icon-bug-report:before {
    content: "\E91F"
}

.icon-calendar-o:before {
    content: "\E920"
}

.icon-calendar:before {
    content: "\E921"
}

.icon-call-to-down:before {
    content: "\E922"
}

.icon-call-to-up:before {
    content: "\E923"
}

.icon-camera-o:before {
    content: "\E924"
}

.icon-camera:before {
    content: "\E925"
}

.icon-cancel-o:before {
    content: "\E926"
}

.icon-cancel:before {
    content: "\E927"
}

.icon-chart-bar-o:before {
    content: "\E928"
}

.icon-chart-bar:before {
    content: "\E929"
}

.icon-chart-pie-o:before {
    content: "\E92A"
}

.icon-chart-pie:before {
    content: "\E92B"
}

.icon-chat-bubble-o:before {
    content: "\E92C"
}

.icon-chat-bubble:before {
    content: "\E92D"
}

.icon-chat-o:before {
    content: "\E92E"
}

.icon-chat:before {
    content: "\E92F"
}

.icon-check-box-blank:before {
    content: "\E930"
}

.icon-check-box-o:before {
    content: "\E931"
}

.icon-check-box:before {
    content: "\E932"
}

.icon-check-circle-o:before {
    content: "\E933"
}

.icon-check-circle:before {
    content: "\E935"
}

.icon-check:before {
    content: "\E934"
}

.icon-chevron-left:before {
    content: "\E936"
}

.icon-chevron-right:before {
    content: "\E937"
}

.icon-chrome:before {
    content: "\E938"
}

.icon-close:before {
    content: "\E939"
}

.icon-compare:before {
    content: "\E93A"
}

.icon-compress-angle:before {
    content: "\E93B"
}

.icon-compress-caret:before {
    content: "\E93C"
}

.icon-contents-list:before {
    content: "\E93D"
}

.icon-coupon-o:before {
    content: "\E93E"
}

.icon-coupon:before {
    content: "\E93F"
}

.icon-credit-card-o:before {
    content: "\E940"
}

.icon-credit-card:before {
    content: "\E941"
}

.icon-delete-o:before {
    content: "\E942"
}

.icon-delete:before {
    content: "\E943"
}

.icon-desktop:before {
    content: "\E944"
}

.icon-download:before {
    content: "\E90E"
}

.icon-drag-handle:before {
    content: "\E945"
}

.icon-drag-vertical:before {
    content: "\E946"
}

.icon-edge:before {
    content: "\E947"
}

.icon-error-o:before {
    content: "\E948"
}

.icon-error:before {
    content: "\E949"
}

.icon-expand-angle:before {
    content: "\E94A"
}

.icon-expand-caret:before {
    content: "\E94B"
}

.icon-expand-less:before {
    content: "\E94D"
}

.icon-expand-more:before {
    content: "\E94E"
}

.icon-facebook-official:before {
    content: "\E94C"
}

.icon-facebook:before {
    content: "\E94F"
}

.icon-favorite-o:before {
    content: "\E950"
}

.icon-favorite:before {
    content: "\E951"
}

.icon-file-o:before {
    content: "\E952"
}

.icon-file-remove-o:before {
    content: "\E953"
}

.icon-file-remove:before {
    content: "\E954"
}

.icon-file-upload-o:before {
    content: "\E955"
}

.icon-file-upload:before {
    content: "\E956"
}

.icon-file:before {
    content: "\E957"
}

.icon-firefox:before {
    content: "\E958"
}

.icon-flag-o:before {
    content: "\E959"
}

.icon-flag:before {
    content: "\E95A"
}

.icon-folder-download-o:before {
    content: "\E95B"
}

.icon-folder-download:before {
    content: "\E95C"
}

.icon-folder-o:before {
    content: "\E95D"
}

.icon-folder-open:before {
    content: "\E95E"
}

.icon-folder-upload-o:before {
    content: "\E95F"
}

.icon-folder-upload:before {
    content: "\E960"
}

.icon-folder:before {
    content: "\E961"
}

.icon-forum-o:before {
    content: "\E962"
}

.icon-forum:before {
    content: "\E963"
}

.icon-fullscreen-angle:before {
    content: "\E965"
}

.icon-fullscreen-caret:before {
    content: "\E964"
}

.icon-gmail:before {
    content: "\E966"
}

.icon-google-play:before {
    content: "\E967"
}

.icon-google:before {
    content: "\E968"
}

.icon-group-add-o:before {
    content: "\E969"
}

.icon-group-add:before {
    content: "\E96A"
}

.icon-group-o:before {
    content: "\E96B"
}

.icon-group:before {
    content: "\E96C"
}

.icon-help-o:before {
    content: "\E96D"
}

.icon-help:before {
    content: "\E96E"
}

.icon-home-o:before {
    content: "\E96F"
}

.icon-home:before {
    content: "\E970"
}

.icon-hourglass-empty:before {
    content: "\E971"
}

.icon-hourglass-full:before {
    content: "\E972"
}

.icon-image-o:before {
    content: "\E973"
}

.icon-image:before {
    content: "\E974"
}

.icon-info-o:before {
    content: "\E975"
}

.icon-info:before {
    content: "\E976"
}

.icon-insert-link:before {
    content: "\E977"
}

.icon-instagram:before {
    content: "\E978"
}

.icon-internet-explorer:before {
    content: "\E979"
}

.icon-kakao:before {
    content: "\E97A"
}

.icon-label-o:before {
    content: "\E97B"
}

.icon-label:before {
    content: "\E97C"
}

.icon-laptop:before {
    content: "\E97D"
}

.icon-lightbulb-o:before {
    content: "\E97E"
}

.icon-lightbulb:before {
    content: "\E97F"
}

.icon-link:before {
    content: "\E980"
}

.icon-lock-o:before {
    content: "\E981"
}

.icon-lock-open-o:before {
    content: "\E982"
}

.icon-lock-open:before {
    content: "\E983"
}

.icon-lock:before {
    content: "\E984"
}

.icon-long-arrow-down:before {
    content: "\E985"
}

.icon-long-arrow-left:before {
    content: "\E986"
}

.icon-long-arrow-right:before {
    content: "\E987"
}

.icon-long-arrow-up:before {
    content: "\E988"
}

.icon-mail-o:before {
    content: "\E989"
}

.icon-mail-read-o:before {
    content: "\E98A"
}

.icon-mail-read:before {
    content: "\E98B"
}

.icon-mail:before {
    content: "\E98C"
}

.icon-menu:before {
    content: "\E98D"
}

.icon-mode-edit-o:before {
    content: "\E98E"
}

.icon-mode-edit:before {
    content: "\E98F"
}

.icon-more-horiz-o:before {
    content: "\E990"
}

.icon-more-horiz:before {
    content: "\E991"
}

.icon-more-vert-o:before {
    content: "\E992"
}

.icon-more-vert:before {
    content: "\E993"
}

.icon-movie-o:before {
    content: "\E994"
}

.icon-movie:before {
    content: "\E995"
}

.icon-naver-blog:before {
    content: "\E996"
}

.icon-naver-square:before {
    content: "\E997"
}

.icon-naver:before {
    content: "\E998"
}

.icon-notifications-o:before {
    content: "\E999"
}

.icon-notifications-off-o:before {
    content: "\E99A"
}

.icon-notifications-off:before {
    content: "\E99B"
}

.icon-notifications-on-o:before {
    content: "\E99C"
}

.icon-notifications-on:before {
    content: "\E99D"
}

.icon-notifications:before {
    content: "\E99E"
}

.icon-opera:before {
    content: "\E99F"
}

.icon-page-bottom:before {
    content: "\E9A0"
}

.icon-page-end:before {
    content: "\E9A1"
}

.icon-page-first:before {
    content: "\E9A2"
}

.icon-page-top:before {
    content: "\E9A3"
}

.icon-person-add-o:before {
    content: "\E9A4"
}

.icon-person-add:before {
    content: "\E9A7"
}

.icon-person-o:before {
    content: "\E9A8"
}

.icon-person:before {
    content: "\E9A9"
}

.icon-phone:before {
    content: "\E9AB"
}

.icon-print:before {
    content: "\E9AA"
}

.icon-radio-button-checked:before {
    content: "\E9A5"
}

.icon-radio-button-unchecked:before {
    content: "\E9A6"
}

.icon-receipt:before {
    content: "\E9AC"
}

.icon-refresh:before {
    content: "\E9AD"
}

.icon-remove-box-o:before {
    content: "\E9AE"
}

.icon-remove-box:before {
    content: "\E9AF"
}

.icon-remove-circle-o:before {
    content: "\E9B0"
}

.icon-remove-circle:before {
    content: "\E9B1"
}

.icon-remove:before {
    content: "\E9B3"
}

.icon-safari:before {
    content: "\E9B2"
}

.icon-save:before {
    content: "\E9B4"
}

.icon-search:before {
    content: "\E9B5"
}

.icon-security-checked-o:before {
    content: "\E9B6"
}

.icon-security-checked:before {
    content: "\E9B7"
}

.icon-security:before {
    content: "\E9B8"
}

.icon-send:before {
    content: "\E9B9"
}

.icon-server:before {
    content: "\E9BA"
}

.icon-setting-o:before {
    content: "\E9BB"
}

.icon-setting:before {
    content: "\E9BC"
}

.icon-share-alt-o:before {
    content: "\E9BD"
}

.icon-share-alt:before {
    content: "\E9BE"
}

.icon-share-o:before {
    content: "\E9BF"
}

.icon-share:before {
    content: "\E9C0"
}

.icon-sitemap-o:before {
    content: "\E9C1"
}

.icon-sitemap:before {
    content: "\E9C2"
}

.icon-star-half:before {
    content: "\E9C3"
}

.icon-star-o:before {
    content: "\E9C4"
}

.icon-star:before {
    content: "\E9C5"
}

.icon-subdirectory:before {
    content: "\E9C6"
}

.icon-tablet:before {
    content: "\E9C7"
}

.icon-time-o:before {
    content: "\E9C8"
}

.icon-time:before {
    content: "\E9C9"
}

.icon-toggle-off-o:before {
    content: "\E9CA"
}

.icon-toggle-off:before {
    content: "\E9CB"
}

.icon-toggle-on-o:before {
    content: "\E9CC"
}

.icon-toggle-on:before {
    content: "\E9CD"
}

.icon-tune-o:before {
    content: "\E9CE"
}

.icon-tune:before {
    content: "\E9CF"
}

.icon-twitter:before {
    content: "\E9D0"
}

.icon-upload:before {
    content: "\E9D1"
}

.icon-visible-o:before {
    content: "\E9D2"
}

.icon-visible:before {
    content: "\E9D3"
}

.icon-wadiz-official:before {
    content: "\E9D4"
}

.icon-wadiz:before {
    content: "\E9D5"
}

.icon-windows:before {
    content: "\E9D6"
}

.icon-youtube-play:before {
    content: "\E9D7"
}

.icon-youtube:before {
    content: "\E9D8"
}

.icon-align-center:before {
    content: "\E9D9"
}

.icon-align-justify:before {
    content: "\E9DA"
}

.icon-align-left:before {
    content: "\E9DB"
}

.icon-align-right:before {
    content: "\E9DC"
}

.icon-bold:before {
    content: "\E9DD"
}

.icon-code:before {
    content: "\E9DE"
}

.icon-font-background:before {
    content: "\E9DF"
}

.icon-link-broken:before {
    content: "\E9E0"
}

.icon-list-bullet:before {
    content: "\E9E1"
}

.icon-list-number:before {
    content: "\E9E2"
}

.icon-quote:before {
    content: "\E9E3"
}

.icon-table-cell:before {
    content: "\E9E4"
}

.icon-table-header:before {
    content: "\E9E5"
}

.icon-table-row:before {
    content: "\E9E6"
}

.icon-table:before {
    content: "\E9E7"
}

.icon-format-paint:before {
    content: "\E9E8"
}

.icon-gift-o:before {
    content: "\E9E9"
}

.icon-gift:before {
    content: "\E9EA"
}

.icon-wadiz-master:before {
    content: "\E9EB"
}

.icon-wadiz-master-discovery:before {
    content: "\E9EC"
}

.icon-wadiz-master-opinion:before {
    content: "\E9ED"
}

.icon-blockquote:before {
    content: "\E9EE"
}

.icon-brunch:before {
    content: "\E9EF"
}

.icon-quote-after:before {
    content: "\E9F0"
}

.icon-quote-before:before {
    content: "\E9F1"
}

.icon-table-col:before {
    content: "\E9F2"
}

.icon-format-underline:before {
    content: "\E9F3"
}